<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDePresentacion.Properties.Settings.BuildMasterDBConnectionString"
            connectionString="Data Source=DESKTOP-CAKRKLJ\SQLEXPRESS;Initial Catalog=BuildMasterDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
